@page
@using TalkBuddy.Domain.Entities
@model TalkBuddy.Presentation.Pages.AddFriendRequest



@{
    var invitationList = TempData["invitationList"] as IEnumerable<Friendship> ?? new List<Friendship>();
}
<div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card form-bg-color border h-50vh">
                    <div class="card-body ">
                        <h5 class="card-title">List Friend Invitation</h5>
                        @if(invitationList.Count() > 0){
                            <P>There is no invitation</P>
                        }
                        <div class="friend-list" id="friendList">
                            @foreach (var x in invitationList)
                            {
                                <div class="friend-list-item">
                                    <div class="friend-avatar"><a href="@x.Sender.ProfilePicture"></a></div>
                                    <p class="friend-name" style="display: flex; flex-direction: column;">
                                        @x.Sender.Name
                                        <small>From @x.RequestDate</small> 
                                    </p>
                                    <form method="post" asp-page-handler="HandleAccept">
                                        <input type="hidden" asp-for="FriendShipId" value="@x.Id"/>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa-solid fa-check"></i>
                                        </button>
                                    </form>
                                    <form method="post" asp-page-handler="HandleReject">
                                        <input type="hidden" asp-for="FriendShipId" value="@x.Id"/>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    </form>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>