@page
@using TalkBuddy.Domain.Entities
@model TalkBuddy.Presentation.Pages.AddFriendRequest

<style></style>

@{
    var invitationList = TempData["invitationList"] as IEnumerable<Friendship> ?? new List<Friendship>();
}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card form-bg-color border h-50vh">
                <div class="card-body ">
                    <h5 class="card-title">List Friend Invitation</h5>
                    @if(invitationList.Count() == 0){
                        <P>There is no invitation</P>
                    }
                    <ul class="w-100 p-0" id="friendList">
                        @foreach (var x in invitationList)
                        {
                            <li class="w-100 d-flex justify-content-between align-items-center">
                                <div class="d-flex gap-1 justify-content-center align-items-center">
                                    @if (string.IsNullOrEmpty(x.Sender.ProfilePicture))
                                    {
                                        <img width="34" height="34" src="~/default-avatar.png" />
                                    }
                                    else
                                    {
                                        <img src="@x.Sender.ProfilePicture" />
                                    }
                                    <div class="d-flex flex-column justify-content-center align-items-start">
                                        <p class="m-0">@x.Sender.Name</p>
                                        <small style="font-size: 0.7rem">From @x.RequestDate</small> 
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center align-items-center gap-2">
                                    <form method="post" asp-page-handler="HandleAccept">
                                        <input type="hidden" asp-for="FriendShipId" value="@x.Id"/>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa-solid fa-check"></i>
                                        </button>
                                    </form>
                                    <form method="post" asp-page-handler="HandleReject">
                                        <input type="hidden" asp-for="FriendShipId" value="@x.Id"/>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    </form>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>