@page
@using TalkBuddy.Domain.Entities
@model Profile

<link rel="stylesheet" href="~/Edit-Profile.cshtml.css" />
<div class="profile-container p-4">
    <div class="row image-row">
        <img src="@Model.ProfilePicture" class="profile-picture rounded-circle" alt="Profile Picture"/>
    </div>
    <div class="row edit-profile-row form-bg-color h-50vh justify-content-center rounded-3">
        <div id="form-card" class="card-body rounded-3" style="background-color: #00e4e3;">
            <h5 class="card-title">Profile</h5>
            <div class="form-group mb-3">
                <label for="floatingInput">Name</label>
                <p class="input-after">@Model.CurrentUser.Name</p>
            </div>
            <div class="form-group mb-3">
                <label for="floatingInput">Email address</label>
                <p class="input-after">@Model.CurrentUser.Email</p>
            </div>

            <div class="form-group mb-3">
                <label for="floatingPassword">Date of birth</label>
                <p class="input-after">@Model.CurrentUser.DateOfBirth</p>
            </div>
            <div class="form-group mb-3">
                <label for="floatingPassword">Gender</label>
                <p class="input-after">@Model.CurrentUser.Gender</p>
            </div>
        </div>
    </div>
</div>
